.imgbox-1{
  width: 300px;
  height: 250px;
  background-image: var(--img);
}

.imgbox-2{
  width: 300px;
  height: 250px;
}


code{
  display: block;
  margin-bottom: 1em;
  background-color: #eee;
  padding: 1em;
}

section{
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #999;
}
